*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.zero{
  text-align: center;
}
.up-text{
  padding-top: 5px;
  padding-bottom: 5 px;
  padding-left: 10px;
  padding-right: 120px;
}
.span{
  font-size: 17px;
  position: relative;
  left: 150px;
  color: brown;
}
.yep{
  width: 190px;
  /* border: none; */
  /* color: black; */
  outline: none;
  margin-top: 30px;
}
.one{
  margin-top: 15px;
}
.night{
  margin: auto;
  background-color: rgb(149, 148, 182);
  width: 350px;
}
.body{
  background-color: burlywood;
}
.add{
  width: 50px;
  height: 20px;
  border: none;
  background-color: coral;
  margin-left: 20px;
}
@media (max-width: 575px) {
  .night{
    width: 250px;
  }
  .span{
    left: 100px;
  }
}